{% extends 'layouts/base.html.twig' %} 

{% block title 'New Picture' %} 

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto" >
            <h1>Create ArtWork</h1>

            {{ include('pictures/_form.html.twig') }}
        
        </div>
    </div>

{% endblock %}